@import "tailwindcss";

@theme {
  --font-sans: 'Cairo', sans-serif;
  --font-serif: 'Amiri', serif;
}

html {
  font-family: var(--font-sans);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f1016;
}
::-webkit-scrollbar-thumb {
  background: #232733;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #3a4054;
}
